/* this is to design html page */
#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Verdana,Geneva, Tahoma, sans-serif;
}
/* it is for  #btn container
#btnContainer{
    text-align: center;
}
/* this can be applicable to all the buttons */
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color:black;
    background-color:hsl(127, 100%, 84%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
    
}
/* we hover function to show the change when cursor moves */
.buttons:hover{
    background-color:hsl(127, 100%, 64%);

}
